<div class="row mt-3">
<div class="col-md-8 offset-md-2">
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="form-group mt-2">
    <%= f.label :role, 'Is user admin?' %><br />
    <%= f.select :role, [["nil", "No"], ["admin", "Admin"]], autofocus: true, class: 'form-control' %>
  </div>

  <div class="form-group mt-2">
    <%= f.label :Name %><br />
    <%= f.text_field :Name, autofocus: true, autocomplete: "Full Name", required: true, class: 'form-control' %>
  </div>

  <div class="form-group mt-2">
    <%= f.label :Bio %><br />
    <%= f.text_area :Bio, size: "50x5", class: 'form-control', required: true %>
  </div>

  <div class="form-group mt-2">
    <%= f.label :Photo %><br />
    <%= f.url_field :Photo, class: 'form-control', required: true %>
  </div>

  <div class="form-group mt-2">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

    <div class="form-group mt-2">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

    <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
  </div>

  <div class="form-group mt-2">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control' %>
  </div>

  <div class="form-group mt-2">
    <%= f.submit "Update", class: 'btn btn-warning' %>
  </div>
<% end %>

<%= link_to "Back", :back %>

<div class="form-group mt-2" style="float:right">
<h6>Do you wish to cancel your account?</h6>
<p><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %></p>
</div>
</div>
</div>