<div class="row mt-3">
<div class="col-md-6 offset-md-3">
  <h4> <i class="fa fa-unlock-alt" aria-hidden="true"></i> &nbsp; Change your password?</h4>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field">
      <%= f.label :password, "New password" %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Confirm new password" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
    </div>

    <div class="actions mt-3">
      <%= f.submit "Change my password", class: 'btn btn-outline-info' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
</div>