<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-2">
      <img src="<%= user.Photo %>" class="img-fluid rounded-start" alt="..." style="max-height: 200; max-width: 145px">
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h3 class="author_name"><%= user.Name %></h3>
        <p class="card-text" style="float: right">
            <% if current_user != nil && current_user.role == 'admin' && show_status%>
              <%= form_with model: @user_update, url: "/users/update/#{user.id}" , method: 'PUT', local: true do |form| %>
                  <%= form.label :role, 'Is Admin?' %>
                  <%= form.check_box :role, class: "form-check-input", checked: user.role == 'admin', :onclick => "this.form.submit()" %>
              <% end %>
            <% end %>
            <small class="text-muted">Number of posts: <%= user.posts.length > 0 ? user.posts.length : 0 %></small>
        </p>
        <%= button_to '<i class="fa fa-trash trash shadow" aria-hidden="true"></i>'.html_safe, user_path(user.id), method: :delete,  class: 'delete-item' if can? :destroy, user  %>
      </div>
    </div>
  </div>
</div>