<div class="row">
<h2 style="text-align:center" class="mt-3"> <%= @user.Name %>'s Posts  </h2>

  <div class="col-md-3 offset-md-9">
    <%= link_to "➕ Create Post", new_user_post_path(@user.id), :"data-turbolinks" => false, class: "btn btn-primary" %>
 </div>
</div>
<div class="row">
    <div class="col-md-12 center">
        <%= render partial: "shared/user_list", locals: {user: @user} %>
        <% if @user.posts.length > 0 %>
           <ul class="recent-posts">
            <% @posts.includes([:comments, :likes]).each_with_index do |post, index| %>
                <li>
                <%= link_to user_post_path(@user.id, post.id) do %>
                    <% render partial: "shared/post_list", locals: {post: post, track: index} %>
                <% end %>
                <% if post.recent_comments.length > 0 %>
                   <div style="margin-top: 3rem;">
                    <h5>Comments</h5>
                    <% post.recent_comments.includes(:user).each do |comment| %>
                        <div class="card-text mb-3">
                            <b><%= comment.user.Name %></b> :
                            <%= comment.Text %>
                        </div>
                    <% end %>
                     </div>
                <% else %>
                    <h5 class="mt-3"> No comment(s) for this post yet </h5>
                <% end %>
                </li>
            <% end %>
         </ul>
         <%= link_to "Pagination", user_posts_path(@user.id), class: "btn btn-primary show-all" %>
        <% else %>
            <p>No posts yet</p>
        <% end %>
    </div>
</div>
