<%= render partial: 'shared/navbar', locals: {post: false, id: 'nil'} %>
<div class="row">
    <div class="col-md-12 center">
        <%= form_with model: [@current_user, @current_user.posts.build], local: true do |form| %>
            <div class="form-floating mb-3">
                <%= form.text_field :Title, class: "form-control", required: true, placeholder: "Post title" %>
                <%= form.label :Title, "Whats on your mind today?" %>
            </div>
            <%= form.text_area :Text, :class => "tinymce form-control", :rows => 20, :cols => 120 %>
            <div class="form-group mt-3">
                <%= form.submit "Post Article", class: "btn-info form-control", data: {disable_with: "Loading..."} %>
            </div>
        <% end %>
    </div>
</div>

<%= tinymce %> 
