<%= render partial: 'shared/navbar', locals: {post: false, id: 'nil'} %>
<div class="row">
    <div class="col-md-12 center">
        <%= form_with model: @post do |form| %>
            <div class="form-floating mb-3">
                <%= form.text_field :Title, class: "form-control", placeholder: "Post title" %>
                <%= form.label :Title, "Whats on your mind today?" %>
            </div>
            <%= form.text_area :content, :class => "tinymce", :rows => 20, :cols => 120 %>
            <%= tinymce %> 
        <% end %>
    </div>
</div>