<h2 style="text-align:center" class="mt-2"> <%= @post.Title %></h2>
<div class="row">
    <div class="col-md-12 center">
<div class="card">
    <div class="card-body">
       <div class="card-title">
            Post <%= "##{@post.id + 1} by #{@post.user.Name}" %> 
            <span style="float: right;">
                <small>Comments: <%= @comments.length > 0 ? @comments.length : 0 %>,
                Likes: <%= @likes.length > 0 ? @likes.length : 0 %> </small>
            <span>
        </div>
        <div class="card-text">
            <%= @post.Text.html_safe %>
        </div>
        <div class="float-end">
            <%= form_with model: [@post, @post.likes.build], local: true do |form| %>
                <%= form.submit "ðŸ‘ Like", class: "btn btn-primary", data: {disable_with: "ðŸ‘"} %>
            <% end %>
        </div>
    </div>
   
</div>

    <% if @comments.length > 0 %>   
        <div class="card mt-1">
            <div class="card-body">
                <% @comments.includes(:user).reverse.each do |comment| %>
                    <div class="card-text mb-3">
                        <b><%= comment.user.Name %></b> :
                        <%= comment.Text %>
                    </div>
                <% end %>
            </div>
        </div>
    <% else %>
        <h5 class="mt-3"> No comment(s) for this post yet </h5>
    <% end %>
    <div class="card mt-1">
        <div class="card-body">
            <%= form_with model: [@post, @post.comments.build], class: "mt-3 form", local: true do |form| %>
                <div class="form-floating mb-3">
                    <%= form.text_area :Text, class: "form-control", required: true, placeholder: "Write your comment here" %>
                    <%= form.label :Text, "Comment!" %>
                </div>
                <div class="form-group mt-3">
                    <%= form.submit "Post Comment", data: { confirm: "Post this comment?" } , class: "btn-info form-control" %>
                </div>
            <% end %>
        </div>
    </div>
</div>
</div>