<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csp_meta_tag %>
    <%= tinymce_assets %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
  <% if flash.any? %>
    <% flash.each do |type, msg| %>
      <div class="alert alert-<%= type %> text-center">
        <%= msg.html_safe %>
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      </div>
    <% end %>
  <% end %>
    <% if user_signed_in? %>
  <div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#">Blog App</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <%= link_to "All authors", root_path, class: "nav-link" %>
        </li>
        <% if user_signed_in? %>
            <li class="nav-item">
                <%= link_to "Edit Profile", edit_user_registration_path, :"data-turbolinks" => false, class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :"data-turbolinks" => false, class: "nav-link" %>
            </li>
        <% else %>
            <li class="nav-item">
                <%= link_to "Sign In", new_user_session_path, :"data-turbolinks" => false, class: "nav-link" %>
            </li>
        <% end %>
      </ul>
      <div class="d-flex flex-column user-details">
        <div>
            <i class="fa fa-user-o" aria-hidden="true"></i> 
            <%= current_user.Name %>
        </div> 
        <div>
          <i class="fa fa-envelope-open" aria-hidden="true"></i>
          <%= current_user.email %>
        </div>
        <div>Role: <%= current_user.role %></div>
      </div>
    </div>
  </div>
</nav>
<% elsif controller_name != 'sessions' && controller_name != 'confirmations' %>
    <div style="float:right">
      <%= link_to "Sign In", new_user_session_path, :"data-turbolinks" => false, class: "btn btn-dark" %>
    </div>
<% end %>
  <%= yield %>
  </div>
</body>
</html>
